.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
    padding:20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
}

.ai-analyize-button {
   background-color: rgb(11, 11, 216);
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  left:50%;
}

.ai-assitant{
  display:flex;
  padding:20px;
}

.ai-assitant-input{
  padding:10px;
  display:flex;
  width:40%;
  flex-direction: column;
    align-content: center;
    align-items: flex-start;
  border-right: 1px solid gray;
}